html,
body {
  margin: 0;
  height: 100%;
}
#scene {
  width: 100%;
  height: 60%;
  display: block;
}
.split {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  display: flex;
}
.split > div {
  width: 100%;
  height: 100%;
}

.controls{
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 40%;
  background-color: #DCDCDC	;
}

.label{
  padding-right: 5px;
}

.ponto-vista{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.ponto-vista-inputs{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 300px;
}

.matriz{
  display: none;
  margin-left: 10px;
  text-align: center;
}


.plano_projecao{
  margin-left: 10px;
}
.coords_vertices_objeto{
  margin-left: 10px;
}

.btn-update{
  margin-left: 5px;
}

